@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-heading: 'Noto Serif', 'serif';
}

body {
  background: #fbfafa;
}

@layer utilities {
  .after-line {
    position: relative;
  }
  .after-line::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 1px;
    width: 0;
    background-color: #0f0f0f;
    transition: width 0.3s ease, left 0.3s ease;
  }
  .after-line:hover::after {
    width: 100%;
    left: 0;
  }
}
