@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-heading: 'Noto Serif', 'serif';
}

body {
  background: #fbfafa;
  /* background-image: url(/public/images/TestIMG.jpg); */
}

@layer utilities {
  .bg-custom-image {
    background-image: url(/src/assets/TestIMG.jpg);
  }

  .after-line {
    position: relative;
  }
  .after-line::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 1px;
    width: 0;
    background-color: #0f0f0f;
    transition: width 0.3s ease, left 0.3s ease;
  }
  .after-line:hover::after {
    width: 100%;
    left: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

.fade-in {
  animation: fade-in 2s ease-in-out;
}

@keyframes fade-in-left-normal {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in-left-normal {
  animation: fade-in-left-normal 1s linear 0s 1 normal none;
}
